.message {
display: flex;
width: 400px; 
background-color: lightgoldenrodyellow;
border: 2px solid cadetblue;
margin: 0px 0px 0px 0px;
flex-direction: column;
justify-content: space-between;
height: 140px;
margin: 20px 0px 5px 20px;
border-radius: 25px;
}
.after {

}

.imageAndText {
   
        
}

.imageAndText img {
position: absolute;
height: 52px;
margin: 60px 5px 5px 5px;

}

.text {
position: relative;
width: 310px;
padding: 30px;
border-radius: 20px 20px 20px 0;
background: #4d5156;
color: #bbfbbc;
margin: 10px 0px 10px 65px;
    
    
    
}

.text:after {
content: "";
position: absolute;
bottom:0;
right: 100%;
display: block;
width: 30px;
height: 30px;

background: radial-gradient(60px at top left, transparent 49%, #4d5156 51%) no-repeat right bottom;
}

.name {
margin-top: 0;
font-size: 16px;
font-weight: 400;
text-transform: uppercase;
}

.messageText {
content: "";
position: center;
bottom: 0;
display: block;
width: 30px;
height: 30px;
}

.time {
position: absolute;
margin: 90px 5px 5px 310px;
color: red;

}