/*.loader {*/
/*    !*свг и/или анимация*!*/
/*    position: center;*/
/*    width: 90px;*/
/*    height: 90px;*/
/*    left: 9px;*/
/*    top: 9px;*/

/*    background: conic-gradient(from 90deg at 50% 50%, rgba(255,255,255,0) 0deg, #512DE4 360deg);*/
/*    border-radius: 45px ;*/
/*}*/
.loader{
border: 16px solid aqua ;
    border-top: 16px solid deepskyblue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    padding: 20px;
}

@keyframes span {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}