.burgerMenuIcon {
}

.header {
    display: flex;
    color: lightseagreen;
    width: 280px;

    /*transition-duration: 500ms;*/
    /*transform: translate(-280px) ;*/
}
.header:hover{
    transition-duration: 500ms;
    transform: translate(0);
}



.header h1 {
}

.block {
    width: 21px;
    height: 21px;
    margin: 10px;
    background: palevioletred;
}
